# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar dependências e compilações
node_modules/
dist/
build/

# Ignorar variáveis de ambiente e segredos
.env
.env.local

# Exceção: manter um arquivo específico dentro de uma pasta ignorada
!config/important.env
